<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cares</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static "basic/img/favicon.png" %}" rel="icon">
  <link href="{% static "basic/img/apple-touch-icon.png" %}" rel="apple-touch-icon">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "basic/vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet">
  <link href="{% static "basic/vendor/animate.css/animate.min.css" %}" rel="stylesheet">
  <link href="{% static "basic/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "basic/vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
  <link href="{% static "basic/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "basic/vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
  <link href="{% static "basic/vendor/remixicon/remixicon.css" %}" rel="stylesheet">
  <link href="{% static "basic/vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "basic/css/style.css" %}" rel="stylesheet">
  <link href="{% static "basic/css/signup.css" %}" rel="stylesheet">

</head>

<body>


  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="bi bi-phone"></i>+91 7943216655
      </div>
      <div class="d-none d-lg-flex social-links align-items-center">
        <div id="google_translate_element"></div>
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="{% url "basic:home" %}">Cares</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url "basic:home" %}">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#doctors">Doctors</a></li>
          <li class="dropdown"><a href="#"><span>Login</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{%url "basic:login_citizen" %}">As a Senior Citizen</a></li>
              <li><a href="{%url "basic:login_relative" %}">As a Relative of a Senior Citizen</a></li>
              <li><a href="{%url "basic:login_care" %}">As a Caretaker</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Register as</span>
        a Caretaker</a> -->

    </div>
  </header><!-- End Header -->
  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <!-- <h2>Inner Page</h2> -->
          <ol>
            <li><a href="{% url "basic:home" %}">Home</a></li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        {% block body_block %}
        <p> Anything outsides of this will be inherited </p> 
        {% endblock %}
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Cares</h3>
            <p>
              IIT(ISM) Dhanbad <br>
              Jharkhand, 824006<br>
              India <br><br>
              <strong>Phone:</strong> +91 7943216655<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Cares</span></strong>. All Rights Reserved
        </div>

      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "basic/vendor/purecounter/purecounter.js" %}"></script>
  <script src="{% static "basic/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "basic/vendor/glightbox/js/glightbox.min.js" %}"></script>
  <script src="{% static "basic/vendor/swiper/swiper-bundle.min.js" %}"></script>
  <script src="{% static "basic/vendor/php-email-form/validate.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "basic/js/main.js" %}"></script>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ includedLanguages: 'en,hi,gu,kn,ml,mr,ta,te,or,pa,sd,ur,bn,bh', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
    }
  </script>

  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</body>

</html>